h1{
    justify-content: center;
    display: flex;
}
.not_found{
    justify-content: center;
    display: flex;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
.boton{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
img{
    border-radius: 50px;
}
