<ion-card>
  <img alt="Silhouette of mountains" src="https://gps-trace.com/assets/img/petovik/main.svg" />
  <ion-card-header>
    <ion-card-title>Restablecer Contraseña</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-input label="Contraseña Nueva" labelPlacement="floating" type="password"></ion-input>
    <ion-input label="Confirme su Contraseña" labelPlacement="floating" type="password"></ion-input>
    <br>

    <ion-button expand="block" (click)="regresar()"><ion-ripple-effect></ion-ripple-effect>Confirmar</ion-button>

  </ion-card-content>
</ion-card>