img{
    border-radius: 50px;
}
ion-button{
    border-radius: 500px;
}

ion-card{
    border-radius: 50px;
}
.fullpage{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}
