<ion-content> 
  <div class="contenido">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recuperar tu Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Introduce tu correo y te mandaremos un link para resetear tu Contraseña
        <br>
        <br>
        <br>
        <ion-input label="Ingrese su correo" labelPlacement="floating" type="mail"></ion-input>
        <br>
        <br>

        <ion-button expand="block" (click)="recuperar()"><ion-ripple-effect></ion-ripple-effect>Enviar</ion-button>

      </ion-card-content>

      

    </ion-card>
  </div>
</ion-content> 