// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body {
    --ion-background-color:#fad564;
    --ion-color-primary:    #a4e043;
    --ion-box-shadow-color: #d9b959;
    
    --ion-item-background: #ffffff; 
    --ion-item-border-color: #d9b959; 
    

    --ion-text-color: #000; 
    --ion-color-primary: #a4e043;
    --ion-font-size: 14px;


    --ion-segment-button-background: #d9b959;
    --ion-toolbar-background: #fad564;

    
}   