// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body {
    --ion-background-color:#fad564;
    --ion-color-primary:    #a4e043;
    --ion-box-shadow-color: #d9b959;
    
    
}   