ion-card{
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    background-color: #fff5d0;
    
}

ion-card-title , ion-card-subtitle {
    margin:auto;
    color:#2c2720;
}

ion-card-title{
    font-size: 35px;
}

ion-item{
    
    border-radius: 10px;
}
