<ion-card>
  <img alt="Silhouette of mountains" src="https://gps-trace.com/assets/img/petovik/main.svg" />
  <ion-card-header>
    <ion-card-title>Registrarse</ion-card-title>
    <ion-card-subtitle>Bienvenido a XXX </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-input label="Nombre de Usuario" labelPlacement="floating"></ion-input>

    <ion-input label="Contraseña" labelPlacement="floating" type="password"></ion-input>
    <ion-input label="Confirme su Contraseña" labelPlacement="floating" type="password"></ion-input>

    <ion-input label="Ingrese su correo" labelPlacement="floating" type="mail"></ion-input>
    <br>
    <a href= "" click= "regresar()" ><h5>¿Ya tienes cuenta? Inicia sesión</h5></a>

    <ion-button expand="block" (click)="ingresar()"><ion-ripple-effect></ion-ripple-effect>Ingresar</ion-button>

  </ion-card-content>
</ion-card>
