<ion-card class="carrusel">
  <ion-card-header>
    <ion-card-title>Nombre Mascota</ion-card-title>
    <ion-card-subtitle>Raza mascota - Edad</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img class="perro" src="https://assets.petco.com/petco/image/upload/f_auto,q_auto:best/dog-lp_2up_new-dog-guide_puppy_260x346.png" style="width:70%;">
  </ion-card-content>
  <ion-card class="content">
    <ion-card-header>
      <ion-card-title>Siguientes citas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Antirrábica<br>Vacuna sextuple<br>Chipeo
    </ion-card-content>
  </ion-card><br>
  <div id="out"><ion-button id="salir" expand="block" (click)="logoutUsuario()">Salir</ion-button></div>
  <br><br>
</ion-card>



