ion-card{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #fff5d0;
    color:black;
    
}

ion-card-title, ion-card-subtitle{
    color: #2c2720;
    text-align: center;

}


ion-card-content{
    margin: auto;
    display: block;
}

#out{
    justify-content: center;
    display: flex;
}
#salir{
    width: 50%;
}