<ion-card class="carrusel">
  <ion-card-header>
    <img src="https://content.nationalgeographic.com.es/medio/2023/11/29/golden-retriever-corriendo_7a50f15e_231129131211_800x800.jpg" width="100%">
    <ion-card-title>Nombre Mascota</ion-card-title>
    <ion-card-subtitle>Raza mascota - Edad</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>
<br><br>

<ion-card id="bodyHome">

<ion-card class="content">
  <ion-card-header>
    <ion-card-title>Siguientes citas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Antirrábica<br>Vacuna sextuple<br>Chipeo
  </ion-card-content><br>
</ion-card>

<br>

<ion-card class="content">


  <ion-card-content>
    Here's a small text 
  </ion-card-content><br>
</ion-card>


</ion-card>