.calendario{
    display: flex;
    justify-content: center;
}
.input{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.desc{
    height: 40%;
}
.boton{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}