.input{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.desc{
    height: 40%;
}
.boton{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
}